<div class="container">
  <h3>Join us!</h3>

  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div>
      <label for="email">email:</label>
      <input type="email" [formControlName]="'email'" id="email">
      <span *ngIf="validEmail('email')">Please enter valid email</span>
    </div>
    <div>
      <label for="username">Login:</label>
      <input type="text" [formControlName]="'username'" id="username" >
      <span *ngIf="usernameRequired('username')"> Required </span>
    </div>


    <div>
      <label for="password">Password:</label>
      <input type="password" [formControlName]="'password'" id="password" >
      <span *ngIf="passwordValidation('password')">Please enter a valid password</span>
    </div>

    <div>
      <label for="passwordR">Repeat password:</label>
      <input type="password" [formControlName]="'passwordR'" id="passwordR" >
      <span *ngIf="confirmedPasswordValidation('password','passwordR')">Please enter a valid repeated password</span>
    </div>


    <button type="submit" class="sign-up">Sign Up</button>
  </form>
</div>
