@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sansita+Swashed:wght@500&display=swap');


  header {
  padding-top: 15px;
  padding-bottom: 15px;
  background: azure;
  color:#338495;
}

container{
  margin: 0 auto ;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

input.ng-invalid.ng-touched{
  border: 1px solid #ff0000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
