<header>
  <div *ngIf="authService.isLoggedIn()" class="logged-in">

    <div class="logo-text-app">
      <a routerLink="/">
        <img
          src="https://st3.depositphotos.com/5142301/12930/v/950/depositphotos_129309942-stock-illustration-t-letter-logo-in-square.jpg"
          class="t-icon">
        <div class="logo-text">
          Twitter 2.0
        </div>
      </a>
    </div>

    <div>
      <button (click)="authService.logout()" class="float-right signup mr-2"> Logout </button>
    </div>

    <div>
      <a routerLink="/start" class="float-right signup mr-2"> Go back to start </a>
    </div>

    <div>
      <a routerLink="/post" class="float-right signup mr-2"> Show posts </a>
    </div>

    <div>
      <a routerLink="/create" class="float-right signup mr-2"> Create post</a>
    </div>

  </div>

  <div *ngIf="!authService.isLoggedIn()" class="not-logged-in">

    <figure>
      <a routerLink="/">
        <p class="logo-text"> Twitter 2.0 </p>
      </a>
      <img
        src="https://st3.depositphotos.com/5142301/12930/v/950/depositphotos_129309942-stock-illustration-t-letter-logo-in-square.jpg"
        alt="logo aplikacji" class="t-icon">
    </figure>

    <ul class="not-logged-in-menu">
      <li>
        <a routerLink="/start" class="signup">Go back to start</a>
      </li>
      <li>
        <a routerLink="/signup" class="signup">Sign up</a>
      </li>
      <li>
        <a routerLink="/login" class="signup">Login</a>
      </li>
    </ul>
  </div>

</header>