<header>
  <div *ngIf="authService.isLoggedIn()">
    <a routerLink="/">
      <img
        src="https://st3.depositphotos.com/5142301/12930/v/950/depositphotos_129309942-stock-illustration-t-letter-logo-in-square.jpg"
        class="t-icon">
      <div class="logo-text">
        Twitter 2.0
      </div>
    </a>

    <div>
      <a routerLink="/start" class="float-right signup mr-2">Go back to start</a>
    </div>

    <div>
      <a routerLink="/create" class="float-right signup mr-2"> Create post</a>
    </div>

    <div>
      <button (click)="authService.logout()" class="float-right login mr-2"> Logout </button>
    </div>

    <div>
      <a routerLink="/post" class="float-right signup mr-2"> Show posts </a>
    </div>

  </div>

  <div *ngIf="!authService.isLoggedIn()">
    <a routerLink="/">
      <img
        src="https://st3.depositphotos.com/5142301/12930/v/950/depositphotos_129309942-stock-illustration-t-letter-logo-in-square.jpg"
        class="t-icon">
      <div class="logo-text">
        Twitter 2.0
      </div>
    </a>

    <div>
      <a routerLink="/start" class="float-right signup mr-2">Go back to start</a>
    </div>

    <div>
      <a routerLink="/signup" class="float-right signup mr-2">Sign up</a>
    </div>

    <div>
      <a routerLink="/login" class="float-right login mr-2">Login</a>
    </div>

  </div>


</header>
