<div class="container">
    <div align="center">
        <p class="welcome-page">Welcome in Twitter 2.0. app created by SDA Java Course students!</p>
        <p class="welcome-page">Feel free to sign up or login</p>
    
        <div class="functionalities-container">
            <h3> Current application functionalities </h3>
            <ul>
                <li>
                    <p>Adding new posts</p>
                </li>
                <li>
                    <p>Showing all posts in the website</p>
                </li>
                <li>
                    <p>Adding comments</p>
                </li>
                
            </ul>
        </div>
    
    </div>
</div>
