input{

  width: 20%;
  height: 25px;
  padding: 12px 20px;
  resize: none;
  border: solid deepskyblue;

}

div{
  padding-top: 15px;

}
label{
  display:block;
}

button{
  height: 40px;
  width: 100px;
  position: relative;
  left: 30px;
  background-color: dodgerblue;
  color: azure;
  border-radius: 5px;

}

label{
  padding-bottom: 10px;
  padding-top: 15px;
  font-weight: bold;

}




